<li>
	{{burger_name}} ({{ingredient_1}} {{ingredient_2}} {{ingredient_3}} {{ingredient_4}} {{ingredient_5}} )

	<button class="change-devour" data-burger_id="{{burger_id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Devour Me!{{else}}Make Me!{{/if}}
	</button>

	<button class="delete-b1urger" data-burger_id="{{this.burger_id}}">DELETE!</button>
</li>
